$backgroundGradientColor: linear-gradient(180deg, rgba(229,240,255,1) 0%, rgba(255,255,255,1) 100%) !important;
// text:
$textColor : #172642 !important;

// buttons:
$colorButtonDefault : #243C68 !important;
$colorButtonDefaultHover : #172642 !important;

// navbar:
$colorNavbar : #FFFFFF !important;
$colorBorderBottom : #E5F0FF !important;


// navbar-drop down menu:
$navbarDropDownMenu:#FFFFFF !important;
$navbarDropDownMenuBorder : #E5F0FF  !important;
$navbarDropDownMenuItemHover: #E5F0FF !important;

// carousel:
$carouselControls: #C8D9F1 !important;
$indicatorSelected: #172642 !important;
$indicatorDefault: #C8D9F1 !important;

// academy thing on the main page:
$selectedBorder: #243C68 !important;
$defaultCorder: #C8D9F1;

